/* Custom colors */
.bg-dark-gray {
    background-color: #3B3B3B;
}

.text-light-beige,
.bg-yellow-custom {
    color: var(--primary-yellow);
}

.bg-yellow-hover {
    background-color: #d1a71b;
}

/* Custom colors for the button */
.bg-yellow-custom {
    background-color: #E9BD20;
    /* Yellow background */
}

.bg-yellow-custom:hover {
    background-color: black;
    color: var(--primary-white);
}

.text-gray-custom {
    color: #3B3B3B;
    /* Gray text */
}

/* Styles for the contact form container */
.contact-us-container {
    margin-top: -5rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--primary-white);
}