.toggle-password-btn {
    font-size: .85rem;
    color: #E9BD20;
    background: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-align: right;
}

.toggle-password-btn:hover {
    color: #c8a116;
    /* Darker shade on hover */
}

.edit-info-area {
    display: flex;
    flex-direction: column;
}